<div class="fea-grids">
  <div class="container">
    <div class="col-md-6 fea-grids-left">
      <div id="owl-demo1" class="owl-carousel">
        <div class="item">
          <%= image_tag "divice-screen.png" %>
        </div>
      </div>
    </div>
    <div class="col-md-6 fea-grids-left">
      <h3>Features availalbe with Easy perfect free app </h3>
      <div class="fea-grids-left-grids">
        <div class="fea-grids-left-grid">
          <div class="fea-grids-left-grid-left">
            <span class="fea-icon1"> </span>
          </div>
          <div class="fea-grids-left-grid-right">
            <h4>Beautiful, modern design</h4>
            <p>Duis bibendum diam non erat facilaisis tincidunt. </p>
          </div>
          <div class="clearfix"> </div>
        </div>
        <div class="fea-grids-left-grid">
          <div class="fea-grids-left-grid-left">
            <span class="fea-icon2"> </span>
          </div>
          <div class="fea-grids-left-grid-right">
            <h4>Easy to customize</h4>
            <p>Duis bibendum diam non erat facilaisis tincidunt. </p>
          </div>
          <div class="clearfix"> </div>
        </div>
        <div class="fea-grids-left-grid">
          <div class="fea-grids-left-grid-left">
            <span class="fea-icon3"> </span>
          </div>
          <div class="fea-grids-left-grid-right">
            <h4>Developer Friendly</h4>
            <p>Duis bibendum diam non erat facilaisis tincidunt. </p>
          </div>
          <div class="clearfix"> </div>
        </div>
        <div class="fea-grids-left-grid">
          <div class="fea-grids-left-grid-left">
            <span class="fea-icon4"> </span>
          </div>
          <div class="fea-grids-left-grid-right">
            <h4>Fully Responsive</h4>
            <p>Duis bibendum diam non erat facilaisis tincidunt. </p>
          </div>
          <div class="clearfix"> </div>
        </div>
      </div>
    </div>
    <div class="clearfix"> </div>
  </div>
</div>
