<div class="container">
  <div class="header">
    <!--<div class="col-md-5 header-left">
      <div class="sreen-gallery-cursual">
        <div id="owl-demo" class="owl-carousel">
          <div class="item">
            <%= image_tag "divice.png" %>
          </div>
        </div>
      </div>
    </div>-->
    <div class="col-md-12 header-right text-center">
      <a href="#"><%= image_tag "logo-cuadrado.svg" %></a>
      <div class="row">
        <div class="col-sm-12">
          <!--<ul class="big-btns">
            <li><a class="btn-g" href="#">Download</a></li>
            <li><a class="btn-gr" href="#">learn more</a></li>
          </ul>-->
          <ul class="usefull-for">
            <li><a class="u-apple" href="#"><span> </span></a></li>
            <li><a class="u-and"href="#"><span> </span></a></li>
          </ul>
        </div>
      </div>
      <p>Pedir taxi nunca había sido tan sencillo. Próximamente...</p>
      <div class="row notify-grid top">
        <form class="col-sm-12">
          <input type="email" class="text" name="email" placeholder="Suscríbete con tu correo para recibir noticias" >
          <input type="submit" value="Suscribir" />
        </form>
      </div>
      <br>
    </div>
    <div class="clearfix"> </div>
  </div>
</div>
