<div class="notify">
  <div class="container">
    <div class="notify-grid bottom">
      <%= image_tag "msg-icon.png" %>
      <h3>¡Obten notificaciones y actualizaciones!</h3>
      <p>Subscribe to our newsletter to be notified about new version release</p>
      <form>
        <input type="text" class="text" value="Escribe aquí tu correo eléctronico" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Your email address';}">
        <input type="submit" value="Enviar" />
      </form>
    </div>
  </div>
</div>
