<div class="social-icons">
  <div class="container">
    <ul>
      <li><a class="twitter" href="#"><span> </span></a></li>
      <li><a class="facebook" href="#"><span> </span></a></li>
      <div class="clearfix"> </div>
    </ul>
  </div>
</div>
