<div class="social-icons">
  <div class="container">
    <ul>
      <li><a class="facebook" href="https://www.facebook.com/pages/Taxim%C3%A1ticomx/1425097561135871" target="_taximatico_fb"><span> </span></a></li>
      <li><a class="twitter" href="https://twitter.com/taximatico_mx" target="_taximatico_tw"><span> </span></a></li>
      <div class="clearfix"> </div>
    </ul>
  </div>
</div>
