<div class="top-grids">
  <div class="container">
    <div class="top-grids-head text-center">
      <h3>Clean and simple Landing page for  Apps</h3>
      <p>Reference site about Lorem Ipsum, giving information on its origins, as well as a random Lipsum In publishing and graphic design, lorem ipsum is a  a document or visual presentation.generator.</p>
    </div>
    <div class="top-grids-box">
      <div class="col-md-4  top-grid text-center">
        <span class="t-icon1"> </span>
        <h4>Very Smart</h4>
        <p>Lorem Ipsum is simply Ipsum has been the industry's text of the printing and typesetting industry. </p>
      </div>
      <div class="col-md-4  top-grid text-center">
        <span class="t-icon2"> </span>
        <h4>Responsive</h4>
        <p>Lorem Ipsum is simply Ipsum has been the industry's text of the printing and typesetting industry. </p>
      </div>
      <div class="col-md-4  top-grid text-center">
        <span class="t-icon3"> </span>
        <h4>Crisp & clear</h4>
        <p>Lorem Ipsum is simply Ipsum has been the industry's text of the printing and typesetting industry. </p>
      </div>
      <div class="clearfix"> </div>
    </div>
  </div>
</div>
